@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto Mono", monospace;
}
.minimal-navbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /* width of the entire scrollbar */
}

.minimal-navbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0), 0);
    /* color of the tracking area */
}

.minimal-navbar::-webkit-scrollbar-thumb {
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}